
a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#Sign-In {
	background-color: #307B30;
	border-radius: 8%;
	color: white;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 30px;
	padding: 8px 14px 1px 14px;
}

.navbar, #AppIcon {
	margin-top: 16px;
	margin-right: 10px;
	padding: 8px 5px 2px 5px;
}


.navbar {
	display: inline-block;
	float: right;
	font-family: Arial;
	font-size: 13px;
	height: 22px;
}

#AppIcon {
	display: inline-block;
	float: right;
	height: 16px;
	width: 16px;
}

#logo {
	display: block;
	height: 125px;
	margin: 160px auto 0 auto;
	width: 315px;
}

input {
	display: block;
	height: 22px;
	margin: 10px auto 0 auto;
	width: 550px;
}

#searchbar {
	display: block;
	margin: 5px auto 315px auto;
	width: 230px;
}

#googlesearch, #lucky {
	background-color: #F2F2F2;
	border: 1px solid #C9C9C9;
	border-radius: 8%;
	display: inline-block;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	padding: 7px 10px 0 10px;
}

#googlesearch {
	float: left;
}

#lucky {
	float: right;
}

#footer {
	background-color: #F2F2F2;
	clear: both;
	display: block;
	font-family: Arial;
	font-size: 13px;
	height: 40px;
}

#footerleft {
	display: inline-block;
	float: left;
}

#footerright {
	display: inline-block;
	float: right;
}

.business {
	display: inline-block;
	float: left;
	margin: 0 15px 0 17px;
}

.info {
	display: inline-block;
	float: right;
	margin: 0 17px 0 15px;
}
